{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
  <div class="row">
    {% if not current_user.is_authenticated %}
      <div class="col-md-4 offset-md-3">
        <form method="POST" action="" class="form mt-3">
          {{ form.hidden_tag() if form.hidden_tag }}
          {% for f in form if f.type != 'CSRFTokenField' %}
          <div class="form-group">
          {{ f.label }}
          {{ f(class_='form-control') }}
          {% if f.errors %}
          <ul>
            {% for e in f.errors %}
            <li>{{ e }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          </div>
          {% endfor %}
          <button class="btn btn-success" type="submit">Submit</button>
        </form>
        {{ link | safe }}
      </div>
    {% endif %}
  </div>
</div>
{% endblock body %}